.bar-icon-container{
    width:6%;
    height:100vh;
    background-image: linear-gradient(to right, rgb(78 102 120), rgb(12 133 153));
    float:left;
}
#icon-1{
    color:black;
    font-size:33px;
}
#icon-1:hover{
    cursor:pointer;
}
#bars {
    position: relative;
    left: 36%;
    top: 10px;
    right: 50%;
    transform: translate(-50%, 0px);
}
#sidebar{
    width:0%;
    height:100vh;
    background-image: linear-gradient(to right, rgb(78 102 120), rgb(12 133 153));
    float:left;
    position:absolute;
    opacity:0;
    z-index:-1;
    transition:0.8s;
}
.nav{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-top:15%;
}
.nav-item{
    padding-top:10px;
    width:100%;
    text-align:center;
}
.nav-link{
    text-decoration:none;
    color:#fff;
    border-radius:15px;
    font-size:1.2rem;
}
.nav-link:hover{
    background-image: linear-gradient(to right, rgb(78 102 120), rgb(12 133 153));
    color:#a9f1f1;
    box-shadow: lightslategray;
    box-shadow: 0 0 15px rgb(15, 100, 82);

}
h2{
    text-align:center;
    transition:0.8s;
    font-size:1.2rem;
}
.icons-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:6%;
  height:100vh;
  padding-top:10%;
}
.icon{
    list-style-type: none;
    padding-top:10px;
    font-size:1.2rem;
    margin-top:16px;
}
.icon:hover, #icon-1:hover{
    border-radius: 70%;
    color: #fff;
    font-size:2rem;
    opacity:0.8;
    transform:rotateZ(360deg);
    transition:0.5s;
}